* :not(code) {
  font-family: sans-serif;
  box-sizing: border-box;
}

#navbar {
  position: fixed;
  top: 8px;
  left: 0px;
  width: 30%;
  padding: 10px 0px 10px 30px;
  z-index: 1;
}

#navbar li {
  list-style-type: none;
  position: relative;
  top: 0;
  left: -40px;
}

header {
  font-weight: bold;
}

#main-doc {
  width: 70%;
  position: relative;
  left: 30%;
  padding: 10px 30px;
}

@media screen and (max-width: 800px) {
  #navbar {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 10px 0px 10px 30px;
    background-color: white;
    z-index: 1;
  }

  #main-doc {
    width: 100%;
    position: relative;
    left: 0;
    top: 230px;
    padding: 10px 30px;
  }
}
